.App {
    max-width: 1440px;
    padding: 189px 121px 0 121px;
    margin: 0 auto;
}

.header {
    margin: 0;
    padding: 0;
}

.app-title{
    max-width: 740px;
    height: 112px;
    font-weight: 400;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #242424;
}

.search {
    margin: 0;
    padding: 25px 0 0;
    width: 507px;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.search__input {
    margin: 0;
    padding: 3px 0 7px 0;
    width: 387px;
    height: 31px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    font-feature-settings: 'ss01' on;
    color: #242424;
    background: #ECEBE8;
    border: none;
    outline: none;
    border-right: 1px solid #242424;
    border-bottom: 1px solid #242424;
}

.search__submit {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 31px;
    display: flex;
    flex-direction: row;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
    background: #ECEBE8;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-bottom: 1px solid #242424;
}

.search__image-arrow {
    margin: 3px 0 0;
    padding: 0;
    background: url("../images/arrow-right.svg") no-repeat;
    width: 30px;
    height: 25px;
}

.search__submit-text {
    margin: 0;
    padding: 9px 0 0;
    width: 63px;
    height: 14px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;
    color: #242424;
}

.cards {
    margin: 0;
    padding: 65px 0 0;
    display: flex;
    flex-direction: row;
}

.card {
    margin: 0 30px 0 0;
    padding: 0;
    width: 240px;
    height: 412px;
}

.card:last-child {
    margin: 0;
}

.card__container {
    width: 240px;
    height: 300px;
    background: #B7C09D;
    overflow: hidden;
}

.card__title {
    margin: 0;
    padding: 24px 31px 0 24px;
    width: 185px;
    height: 72px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #242424;
}

.card__author {
    margin: 0;
    padding: 16px 0 0;
    width: 160px;
    height: 48px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #242424;
}

.card__paragraph {
    margin: 0;
    padding: 4px 0 0;
    width: 155px;
    height: 44px;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
}

.catalog-section {
    margin: 0;
    padding: 0 0 0 94px;
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.catalog {
    margin: 0 0 60px 0;
}

.catalog:last-child {
    margin: 0;
}

.catalog__index {
    margin: 0;
    padding: 12px 0 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #242424;
}

.catalog__paragraph {
    margin: 0;
    padding: 12px 0 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    font-feature-settings: 'ss01' on;
    color: #242424;
}